<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="mi-cryptoinfo">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Hello [[prop1]]!</h2>
  </template>

  <script>
    /**
     * `mi-cryptoinfo`
     * tabala2
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class MiCryptoinfo extends Polymer.Element {
      static get is() { return 'mi-cryptoinfo'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'mi-cryptoinfo'
          }
        };
      }
    }

    window.customElements.define(MiCryptoinfo.is, MiCryptoinfo);
  </script>
</dom-module>
