<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="mi-cryptoinfo">
  <template>
    <style>
      :host {
        display: block;
      }
      .table{
        text-align: center;
        width: 100%;
        border-collapse: collapse;
      }
      thead{
        background: #1E88E5;
        color: white;
      }
   
      td, th{
        height: 50px;
      }
      tr:nth-child(even){
        background: #0D47A1;
        color: white;
      }
    </style>
     <table class="table">
      <caption><h1>Crypto info</h1></caption>
     <thead>
       <tr>
         <th>id</th>
         <th>Descripcion</th>
         <th>Calificacy</th>
         <th>...</th>
       </tr>
     </thead>
     <tbody>
       <tr>
         <td>1</td>
         <td>2</td>
         <td>3</td>
         <td>4</td>
       </tr>
       <tr>
         <td>1</td>
         <td>2</td>
         <td>3</td>
         <td>4</td>
       </tr>
       <tr>
         <td>1</td>
         <td>2</td>
         <td>3</td>
         <td>4</td>
       </tr>
     </tbody>
    </table>
  </template>

  <script>
    /**
     * `mi-cryptoinfo`
     * tabala2
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class MiCryptoinfo extends Polymer.Element {
      static get is() { return 'mi-cryptoinfo'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'mi-cryptoinfo'
          }
        };
      }
    }

    window.customElements.define(MiCryptoinfo.is, MiCryptoinfo);
  </script>
</dom-module>
